<!DOCTYPE html>
<html lang="en">

<body id="page-top" style="background-color: rgba(200, 255, 204, 0.55);">

  <div class="row">
    <h1>You need to register, then You can order edit, delete or add food products</h1>
    <div class="column">
      <img src="./images/food1.jfif" alt="" style="width:100%">
    </div>
    <div class="column">
      <img src="images/food2.webp" alt="" style="width:100%">
    </div>
    <div class="column">
      <img src="images/food3.jfif" alt="" style="width:100%">
    </div>
  </div>
  <h3>Some famous quotes on food:</h3>
  <h4>
    1. “Let food be thy medicine and medicine be thy food.”
    – Hippocrates
  </h4>
  <h4>
    2. “The belly rules the mind.”
    – Spanish Proverb
  </h4>
  <h4>
    3. “The secret of success in life is to eat what you like and let the food fight it out inside.”
    – Mark Twain
  </h4>

  <h4>
    4.“An onion can make people cry but there’s never been a vegetable that can make people laugh.”
    – Will Rogers
  </h4>

  <h4>
    5.“My mama always said, “Life is like a box of chocolates. You never know what you’re gonna get.”
    – Forrest Gump
  </h4>

  <div class="row">
    <div class="column">
      <img src="./images/eating1.jfif" alt="" style="width:50%" >
    </div>
    <div class="column">
      <img src="images/eating2.jpg" alt="" style="width:50%" >
    </div>
    <div class="column">
      <img src="images/eating3.jfif" alt="" style="width:50%">
    </div>
    <h3>
      here are some tipe for healthy eating food:
    </h3>
    <ul class = "text">
      <li>Slow Down</li>
      <li>Choose whole grain bread instead of refined</li>
      <li>Add Greek yogurt to your diet</li>
      <li>Don’t shop without a list</li>
      <li>Increase your protein intake</li>
      <li>Drink enough water</li>
      <li>Take omega-3 and vitamin D supplements</li>
      <li>Replace your favorite fast food restaurant</li>
      <li>Try at least one new healthy recipe per week</li>
      <li>Eat your greens first</li>
    </ul>
    
</body>
 

</html>