<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = "/javascripts/script.js"></script>
      <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      </head>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    {{#if user}}
    <li class="nav-item active">
      <a class="nav-link" href="breakfast">Breakfast</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="lunch">Lunch</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="dinner">Dinner</a>
    </li>
    {{/if}}
  </ul>
   <ul class="navbar-nav ml-auto">
          {{#if user}}
            <li class="nav-item active"><a class="nav-link" href="#">{{user.username}}</a></li>
            <li class="nav-item active"><a class="nav-link" href="/Logout">Logout</a></li>
          {{else}}
            <li class="nav-item active"><a class="nav-link" href="/Register">Register</a></li>
            <li class="nav-item active"><a class="nav-link" href="/Login">Login</a></li>
          {{/if}}
        </ul>
</nav>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  </body>

  <!-- Footer-->
    <div class="container my-4">
    
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="height: 100px; background-color:cornsilk;" >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">For food lovers</h5>
        <p>here user can order and get the food online as well.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">here you can order your food</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.ubereats.com/ca?utm_source=Bing_Brand&utm_campaign=CM2033247-search-bing-brand_32_-99_CA-National_e_all_acq_cpc_en_Generics_Exact_uber%20eats_kwd-75797925524607:loc-32__1212761764764069_e_c&campaign_id=382426061&adg_id=1212761764764069&fi_id=&match=e&net=o&dev=c&dev_m=&ad_id=&cre=&kwid=kwd-75797925524607:loc-32&kw=uber%20eats&placement=&tar=&gclid=09455702b36c1cac9b2135fc04e2c952&gclsrc=3p.ds&&msclkid=09455702b36c1cac9b2135fc04e2c952">UberEats</a>
          </li>
          <li>
            <a href="https://www.skipthedishes.com/">Skip the Dishes</a>
          </li>
          <li>
            <a href="https://www.bing.com/search?q=doordash&cvid=8b8b15a575fb4228bd7a4b8965d686a8&aqs=edge..69i57j46j0l7.2647j0j4&FORM=ANAB01&PC=DCTS">Doordash</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/harmankaur_95/">Instagram</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/harman-kaur-5178531b7/">LinkedIN</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/HarmanKaur2001"> My github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  </div>
      

       

</html>
